body{
  min-height: 756px;
  background-color: #222831;
}
.btnself-orange{
  background-color: #F05454;
}
.btnself-orange:hover{
  /* Not the best approach. Must be change in the future */
  background-color: #d31212 !important;  
}
.header{
  background-color: #30475E;
}
.italic-text{
  color: #F05454;
}
.form-control{
  border-radius: 50px;
  max-width: 1000px;
}
