body {
  min-height: 756px;
  background-color: #222831;
}
.btnself-orange {
  background-color: #f05454;
}
.btnself-orange:hover {
  /* Not the best approach. Must be change in the future */
  background-color: #d31212 !important;
}
.btn-rst {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #30475e;
}
.italic-text {
  color: #f05454;
}
.form-control {
  border-radius: 50px;
  max-width: 1000px;
}
.line{
}
.line p::before,
.line p::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid white;
    width: 175px;
    margin: 0 1rem;
    transform: translateY(-0.2rem);
}

.log-item{
  width: 400px;
  background-color: white;  
  padding: 1rem;

}

.color-pink{
  background-color: #F05454;

}

.color-pink a{
}

.form{
  width: 400px;
}